body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* li{
    padding: 15px;
} */
.container{
display: flex;
flex-direction: row;
}
.mooneyWrapper{
display: flex;
flex-direction: column;
}
label{
    padding: 5px;
}
input{
    margin: 7px;
}
.budgetWrapper{
height: 100px;
width: 250px;
background-color: green;
border: 1px solid black;
margin: 10px;
padding: 10px;
border-radius: 10px;

}
.expensesWrapper{
border-radius: 10px;
height: 130px;
width: 250px;
background-color: rgb(245, 10, 10);
border: 1px solid black;
margin: 10px;
padding: 10px;
}
.eventsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25px;
}
#expenses, #costs, #balance{
    margin-right: 25px;
    margin-left: 25px;
}
#expenses{
    margin-bottom: 0;
    padding-bottom: 0;
}

#costList, #expList{
    padding: 10px;
} #costList{
    margin-bottom: 20px;
    font-size: medium;
}
 #balEv{
     margin-top: 36px;
 }
li{
    margin-bottom: 12px;
    margin-right: 10px;
    font-size: medium;
}